.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 25px;
}
.page-header__title {
  font-weight: 600;
  font-size: 28px;
}
.page-header__icons span {
  margin-left: 20px;
}
